{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header class="site-head">
    <div class="site-head-content">
        <div class="vertical">
            <h1 class="blog-title">{{@blog.title}}</h1>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="mainpage {{post_class}}">
        <div class="post-inner">
            <section class="content-temp">
                {{content words="0"}}
            </section>
            <section class="post-excerpt">
				{{#if @first}}
    			{{else}}
        			{{#if @last}}
        			{{else}}
           				 <p>Electric bass player from Los Angeles, CA.</p>
						 <p>Studied with Victor Wooten, Anthony Wellington, Putter Smith, Tim LeFebvre, and Mike League. </p>
						 <p>2012 Graduate of Musician's Institute.</p>
        			{{/if}}
    			{{/if}}
            </section>
        </div>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}

    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</main>
